nav>ul {
    display: flex;
}

nav>ul>li {
    list-style: none;
    margin-right: 1em;
    padding: 0.5em;
}

nav>ul>li>a {
    text-decoration: none;
    color: #333;
}

nav>ul>li:hover {
    background-color: lightgray;
}