nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 1em;
    padding: 0.5em;
}

nav li a {
    text-decoration: none;
    color: #333;
}

nav li:hover {
    background-color: lightgray;
}

/* Nested Menu Styles */
/* nav ul ul {
    display: none;
    position: absolute;
    background-color: lightgray;
    padding: 0;
}

nav ul li:hover ul {
    display: block;
} */

nav li .dropdown {
    display: none;
}

nav li:hover>.dropdown {
    display: block;
    position: absolute;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}